.hover-effect:hover{
 color: cornflowerblue;
}
.user-signature-font {
  font-family: 'Pacifico', cursive; /* Use the exact font-family name from Google Fonts */
  font-size: 1.2em; /* Adjust size to make it more prominent if needed */
  color: #333;
}
.fate-out{
    animation:fadeOut 2s forwards;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}